<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>servlet.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <display-name>workshop_Login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlet.controller.MainServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>path</param-name>
      <param-value>c:\\filestore\\userinfo\\member.txt</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookResgister</display-name>
    <servlet-name>BookResgister</servlet-name>
    <servlet-class>servlet.controller.BookResgister</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookResgister</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllBookServlet</display-name>
    <servlet-name>AllBookServlet</servlet-name>
    <servlet-class>servlet.controller.AllBookServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllBookServlet</servlet-name>
    <url-pattern>/AllBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindBookServlet</display-name>
    <servlet-name>FindBookServlet</servlet-name>
    <servlet-class>servlet.controller.FindBookServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindBookServlet</servlet-name>
    <url-pattern>/FindBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showBookInfo</display-name>
    <servlet-name>showBookInfo</servlet-name>
    <servlet-class>servlet.controller.showBookInfo</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>showBookInfo</servlet-name>
    <url-pattern>/showBookInfo</url-pattern>
  </servlet-mapping>
</web-app>