<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web04_Lifecycle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLifeclycleTest1</display-name>
    <servlet-name>ServletLifeclycleTest1</servlet-name>
    <servlet-class>servlet.life.ServletLifeclycleTest1</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLifeclycleTest1</servlet-name>
    <url-pattern>/Life</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLifeclycleTest2</display-name>
    <servlet-name>ServletLifeclycleTest2</servlet-name>
    <servlet-class>servlet.life.ServletLifeclycleTest2</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLifeclycleTest2</servlet-name>
    <url-pattern>/Life2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletLifeclycleTest3</display-name>
    <servlet-name>ServletLifeclycleTest3</servlet-name>
    <servlet-class>servlet.life.ServletLifeclycleTest3</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLifeclycleTest3</servlet-name>
    <url-pattern>/Life3</url-pattern>
  </servlet-mapping>
</web-app>