<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>GenericServletTest1</servlet-name>
    <servlet-class>servlet.generic.GenericServletTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletTest1</servlet-name>
    <url-pattern>/GST!</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericServletTest2</display-name>
    <servlet-name>GenericServletTest2</servlet-name>
    <servlet-class>servlet.generic.GenericServletTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletTest2</servlet-name>
    <url-pattern>/GS2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServletTest</display-name>
    <servlet-name>HttpServletTest</servlet-name>
    <servlet-class>servlet.http.HttpServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletTest</servlet-name>
    <url-pattern>/HttpServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WordEncoreServlet</display-name>
    <servlet-name>WordEncoreServlet</servlet-name>
    <servlet-class>sevlet.first.WordEncoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordEncoreServlet</servlet-name>
    <url-pattern>/encore</url-pattern>
  </servlet-mapping>
</web-app>